@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Inter&family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Inter&family=Red+Hat+Text&family=Rock+3D&display=swap');

body {
    background-color: #1d2029;
    color: aliceblue;
    font-family: 'Red Hat Text', sans-serif;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-success {
    color: #1d2029;
    background-color: rgb(134, 233, 141);
}

.btn-success:hover { background-color: rgb(59, 192, 67); }

h1 { 
    font-family: 'Rock 3D', cursive; 
    color: aliceblue; 
    font-size: 5em;
    margin-bottom: 75px;
}

.info { margin-left: 20px; }
.title { font-weight: 600; }
.artist { font-style: italic; }
